:root {
    --textColor: #e6dedd;
    --backgroundBody: #2d4059;
    --backgroundNav: #0e2f56;
}

section {
    height: 91.3vh;
    background-color: var(--backgroundBody);
}

.navbar, .offcanvas-header, .offcanvas-body {
    background-color: var(--backgroundNav);
}

.navbar-toggler {
    border: none !important;
    text-decoration: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler span {
    color: #e6dedd !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }


input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=date] { -moz-appearance:textfield; }